$white:#fff;
$black:#0A0A0A;
$blue: #3137C9;
$red: #F80606;
$dark-black: #0D0D0D;
$dark-white: #FDF9F9;
$dark-pink: #F707C7;
$color-text: #0b0b0b;
$color-data: #828282;
$color-body: #0a0a0a;
$color-button: #000;
$fon-button: #ED3024;
$border-bottom:#3f3f3f;
$border-fon:#f5c977;
$header-kids:#fbef0b;
